html {
  /* background-color: #f8f8f8; */
  color: #121212;
}
.main {
  display: block;
  margin: 3rem auto;
  width: 50%;
}

.loading-spinner {
  display: block;
  width: 7%;
  margin: 1em auto;
}
